<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./345.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.14.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <main class="main">
        <p class="main_title">이력서 등록</p>
        <div class="main_container">
            <div>
                <div class="Hong_img_box">
                    <div>
                    <label for="">이름</label>
                    <div class="label_div">
                        <input type="text" placeholder="이름"> 
                    </div>
                    <label for="">핸드폰번호</label>
                    <div class="label_div">
                        <input type="text" placeholder="핸드폰번호"> 
                    </div>
                    <label for="">학력사항</label>
                    <div class="label_div">
                        <input type="text" placeholder="학력사항">
                        <select name="" id="" class="select">
                           <option value="">중학교 졸업</option>
                           <option value="">고등학교 졸업</option>
                           <option value="">대학교 졸업</option>
                           <option value="">기타</option>
                        </select>  
                    </div>
                    </div>
                    <div class="right_menu">
                        <label for="" >경력사항</label>
                        <div class="right_icon">
                        <div class="label_div">
                            <input type="text" placeholder="경력사항"> 
                        </div>
                        <div class="icon">
                            <a href="#">
                                <i class="fas fa-plus-square"></i>
                            </a>   
                        </div>
                        </div>
                        <label for="">자격증</label>
                        <div class="label_div">
                            <input type="text" placeholder="자격증"> 
                        </div>
                    </div>

            </div>  
                <button class="last_button"> 확인</button>
            </div>
            
        </div>  
    </main>
</body>
</html>