<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blacklistBoard">

	<select id="countBlackList" resultType="Integer">
        SELECT count(*) FROM blacklist
	</select>
	
	<select id="getBlackList" resultType="com.javassem.domain.ParkBlackVO" parameterType="hashmap">
		SELECT * FROM (SELECT ROW_NUMBER()over(order by warnDate desc)as RN, A.* FROM
		(SELECT * FROM blacklist) A, (SELECT @rownum:=0) r) B
		where B.RN BETWEEN #{start} and #{end};
	</select>

	<select id='checkCnt' resultType="Integer" parameterType="com.javassem.domain.ParkBlackVO">
		SELECT max(warnCnt)as warnCnt
		FROM (SELECT * FROM blacklist WHERE userId=#{userId})A
	</select>
	<insert id='stopaccount' parameterType="hashmap">
		insert into blacklist (warnCnt, userId, userName, warnDate, reason, accountStop, userNum, ownerNum)
		values(3,#{userId},#{userName},now(),'운영자 조치',1,#{userNum},#{ownerNum})
	</insert>
	<select id='division' parameterType="com.javassem.domain.ParkBlackVO">
		SELECT Max(accountStop)as accountStop FROM blacklist
		where userId=#{userId}
	</select>
</mapper>
