<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PayDAO">

	
	<!-- 이용권 결제내역 추가 -->
<insert id ="insertPay" parameterType="com.javassem.domain.Payed_listVO">
 	insert into payed_list(pay_date, pay_date_end, amount, ownernum, coupon_type)
 	values(#{pay_date}, #{pay_date_end}, #{amount}, #{ownernum}, #{coupon_type})
</insert>


<!-- 이용권 결제내역 조회 -->
<select id="recentlyPay" parameterType="String" resultType="com.javassem.domain.Payed_listVO">
	select imp_uid, merchant_uid, biz_email, pay_date, amount, card_no, refund from 
	(select rownum, imp_uid, merchant_uid, biz_email, pay_date, amount, card_no, refund from 
	(select * from payed_list where biz_email = #{biz_email})where refund ='payed' order by pay_date)
	where rownum = 1
</select>


<!-- 이용권 결제내역 환불 -->
<update id="refund_pay" parameterType="String">
	update payed_list set refund = 'refund' where merchant_uid = #{merchant_uid}
</update>
	
	<!-- 이용권 결제 사업자에 반영 -->
<update id="updateBiz_pay" parameterType="com.javassem.domain.Biz_memberVO">
	update biz_member set pay_coupon = #{pay_coupon} where biz_email = #{biz_email}
</update>

<!-- 이용권 환불 사업자에 반영 -->
<update id="updateBiz_refund" parameterType="com.javassem.domain.Biz_memberVO">
	update biz_member set pay_coupon = #{pay_coupon} where biz_email = #{biz_email}
</update>



	
</mapper>