<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Location">
		
	<select id="getLocationList" parameterType="com.javassem.domain.SongLocationVO" resultType="com.javassem.domain.SongLocationVO" >
			
			SELECT I.shopName, I.location_y, I.location_x, b.shoppay, I.si_realname, b.board_owner_seq
			FROM board_owner b, shopInfo I
			<where>
				b.ownerNum = I.ownerNum
				<if test="searchCondition != null">
					AND ${searchCondition} LIKE '%${searchKeyword}%'
				</if>
			</where>
	</select> 
	
	<select id="getLocationListCount" parameterType="com.javassem.domain.SongLocationVO" resultType="int" >
			
			SELECT count(road_address)
			FROM locationTest
			<where>
				<if test="searchCondition != null">
					${searchCondition} LIKE '%${searchKeyword}%'
				</if>
			</where>
	</select> 
	
	<insert id="insertLocation" parameterType="com.javassem.domain.SongLocationVO" >
	insert into locationTest(location_y, location_x, road_address, shop_name, shop_phone_number)
	values(#{location_y},#{location_x},#{road_address},#{shop_name},#{shop_phone_number})
	</insert>
	
</mapper>