<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
	
	<insert id="userInsert" parameterType="UserVO">
		INSERT INTO userInfo(usernum,userid, userpass, userpass2, username, 
			userpn, usermail, userdate)
		VALUES(#{usernum}, #{userid}, #{userpass}, #{userpass2}, #{username}, 
			#{userpn}, #{usermail}, now())
	</insert>
	
	<select id='idCheck' parameterType="UserVO" resultType="UserVO">
		SELECT * FROM userInfo
			<where>
				<if test="userid != null">
					userid = #{userid}
				</if>
				<if test="userpass != null">
					AND userpass = #{userpass}
				</if>
			</where>
	</select>
	<!-- userid=#{userid} AND userpass=#{userpass} -->
	
	
     <update id="updateUserView" parameterType="UserVO">
		<![CDATA[
		UPDATE userInfo SET
		 userimg1 = #{userimg1},
		 userself = #{userself}
		WHERE userid = #{userid}
		]]>
	</update>
	
<!-- 	<delete id="deleteUserView" parameterType="UserVO">
		DELETE FROM uploadtemp
		WHERE b_id = #{b_id}
	</delete> -->
	
	<select id="getUserView" resultType="UserVO">
		<![CDATA[
		SELECT *
		FROM userInfo
		WHERE userid = #{userid}
		]]>
	</select>
	
	<select id="getShopList" resultType="java.util.HashMap"  parameterType="java.util.HashMap">
	<![CDATA[
		SELECT * FROM support a, shopInfo b
		Where a.userid = '${userid}'
		]]>
	</select>
</mapper>