<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="visit">


	<select id='countTotal' resultType='Integer'>
		SELECT COUNT(*) FROM visitor
	</select>

	<select id="CntPerDay" resultType="com.javassem.domain.VisitorVO">
		select 
		(select count(visitDate) from visitor
		where date_format(visitDate, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d'))as today,
		(select count(visitDate) from visitor 
		where date_format(visitDate, '%Y-%m-%d') = date_format(now()- INTERVAL 1 DAY, '%Y-%m-%d'))as before1,
		(select count(visitDate) from visitor 
		where date_format(visitDate, '%Y-%m-%d') = date_format(now()- INTERVAL 2 DAY, '%Y-%m-%d'))as before2,
		(select count(visitDate) from visitor 
		where date_format(visitDate, '%Y-%m-%d') = date_format(now()- INTERVAL 3 DAY, '%Y-%m-%d'))as before3,
		(select count(visitDate) from visitor 
		where date_format(visitDate, '%Y-%m-%d') = date_format(now()- INTERVAL 4 DAY, '%Y-%m-%d'))as before4
	</select>

</mapper>